page-biology { ion-content{
    background-image: url('../../assets/imgs/biology.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.item{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.main{
    position: relative;
    top: 90px;
}
.button {
    position: relative;
    top: 60px;
}




}


